<div class="container">
<div class="panel panel-default">
    <div class="panel-heading"><center>Provider#View<center></div>
    <div class="panel-body"><h3><center><kbd>Full view for provider: <span class= 'highlight'><%=@provider.name%></span></kbd></center></h3></div>
</div>

<table class='table'>
    <td><%=link_to "Add Contact", contacts_new_path(id: @provider.id), class: 'custom-tab' %></td> 
    <td><%=link_to "Back to Index", providers_index_path, class: 'custom-tab'%></td>
    <td><%=link_to "Edit", providers_edit_path(id: @provider.id)%></td>
</table>

<table class="table">
    <tr>
        <th>ID </th><td><%=@provider.id%></td>
    </tr><tr>
       <th>Name </th><td><%=@provider.name%></td>
    </tr><tr>
        <th>Address </th><td><%=@provider.address%></td>
    </tr><tr>
        <th>Charge Code </th><td><%=@provider.charge_code%></td>
    </tr><tr>
        <th>City </th><td><%=@provider.city%></td>
    </tr><tr>
         <th>Zip </th><td><%=@provider.zip%></td>
    </tr><tr>
         <th>Category </th><td><%=@provider.category.name%></td>
    </tr>
</table>
<vr/>
<div class="panel panel-default" id="provider-contacts"> 
    <div class="panel-heading"><h2> <center>Contacts</center></h2> </div>
    <div class="panel-body"><center>Contacts for Provider: <kbd> <%= @provider.name %> </kbd></center></div>
</div>
    <% if @contacts.size < 1 %>
        <center><kbd> You don't have any contacts for this Provider yet!</kbd></center>
    <%else%>
    <table class="table">
        <theader>
            <tr>
                <th>Contact ID</th>
                <th>Contact Name</th>
                <th>Service Type</th>
                <th>Mobile</th>
                <th>Alternate Numebr</th>
            </tr>
        </theader>
        <% @contacts.each do |contact| %>
        <tr>
            <td> <%= contact.id %>
            <td> <%= link_to((contact.title.concat(" ").concat contact.first_name.concat(", ").concat contact.last_name), contacts_view_path(id: contact.id)) %></td>
            <td> <%= contact.service_type %> </td>
            <td> <%= contact.mobile %> </td>
            <td> <%= contact.alternate_number %> </td>
        </tr>
    <%end%>
    <%end%>
    </table>
</div><vr/>
<!-- <center><kbd>Something Went wrong with the Provider. Report this issue to the Admin</kbd></center> -->
</div>