<div class="container">
<div class="panel panel-default">
    <div class="panel-heading"><center>Provider#View<center></div>
    <div class="panel-body"><h3><center>Full view for provider: <kbd><%=@provider.name%></kbd></center></h3></div>
</div>
<%= link_to "Add Contact", contacts_new_path(id: @provider.id), class: 'custom-tab' %> <vr/> <%=link_to "Back to Index", providers_index_path, class: 'custom-tab'%>
<table class="table">
    <tr>
        <td>ID </td><td><%=@provider.id%></td>
    </tr><tr>
       <td>Name </td><td><%=@provider.name%></td>
    </tr><tr>
        <td>Address </td><td><%=@provider.address%></td>
    </tr><tr>
        <td>Charge Code </td><td><%=@provider.charge_code%></td>
    </tr><tr>
        <td>City </td><td><%=@provider.city%></td>
    </tr><tr>
         <td>Zip </td><td><%=@provider.zip%></td>
    </tr><tr>
         <td>Category </td><td><%=@provider.category.name%></td>
    </tr>
</table>
<vr/>
<div class="panel panel-default" id="provider-contacts"> 
    <div class="panel-heading"><h2> <center>Contacts</center></h2> </div>
    <div class="panel-body"><center>Contacts for Provider: <kbd> <%= @provider.name %> </kbd></center></div>
</div>
    <% if @contacts.size < 1 %>
        <center><kbd> You don't have any contacts for this Provider yet!</kbd></center>
    <%else%>
    <table class="table">
        <theader>
            <tr>
                <th>Contact ID</th>
                <th>Contact Name</th>
                <th>Service Type</th>
                <th>Location</th>
                <th>City</th>
            </tr>
        </theader>
        <% @contacts.each do |contact| %>
        <tr>
            <td> <%= contact.id %>
            <td> <%= link_to((contact.title.concat(" ").concat contact.first_name.concat(", ").concat contact.last_name), contacts_view_path(id: contact.id)) %></td>
            <td> <%= contact.service_type %> </td>
            <td> <%= contact.location %> </td>
            <td> <%= contact.city %></td>
        </tr>
    <%end%>
    <%end%>
    </table>
</div><vr/>
<!-- <center><kbd>Something Went wrong with the Provider. Report this issue to the Admin</kbd></center> -->
</div>